.indice33 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: #ff9204;
  color: #ffffff;
  border: #030eaa 10px solid;
  flex-wrap: wrap;
  gap: 10px;
}

.box-8 {
  width: 500px;
  height: 400px;
  margin: 50px;
  padding: 50px;
  background-color: #ff9204;
  color: rgb(177, 5, 5);
  border: rgb(0, 26, 175) 20px solid;
}


.box-9 {
  width: 500px;
  height: auto;
  margin: 100px;
  padding: 100px;
  background-color: #ff9204;
  color: rgb(177, 5, 5);
  border: rgb(0, 26, 175) 20px solid;
}

.box-10 {
  width: 500px;
  height: auto;
  margin: 100px;
  padding: 100px;
  background-color: #ff9204;
  color: rgb(177, 5, 5);
  border: rgb(0, 26, 175) 20px solid;
}

.box-11 {
  width: 500px;
  height: auto;
  margin: 100px;
  padding: 100px;
  background-color: #ff9204;
  color: rgb(177, 5, 5);
  border: rgb(0, 26, 175) 20px solid;
}



.box-12 {
  width: 500px;
  height: auto;
  margin: 100px;
  padding: 100px;
  background-color: #ff9204;
  color: rgb(177, 5, 5);
  border: rgb(0, 26, 175) 20px solid;
}

.box-13 {


  width: 500px;
  height: auto;
  margin: 100px;
  padding: 100px;
  background-color: #ff9204;
  color: rgb(177, 5, 5);
  border: rgb(0, 26, 175) 20px solid;
}

.pie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: #ff9204;
  color: #ffffff;
  border: #030eaa 10px solid;
  flex-wrap: wrap;
  gap: 10px;

}